# Virtual environment
.venv/
venv/

# PyCharm sozlamalari
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Boshqa loyihalar (agar tashlamoqchi bo‘lsangiz)
decorator.py
egzame.py
sms and contact.py

