# Barcha python fayllarni inkor qilamiz
*.py

# Faqat bankomat.py qolsin
!bankomat.py

# Virtual environment
.venv/
venv/

# PyCharm sozlamalari
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

